*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: #61ff3f2b;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 17px 25px 56px -22px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 17px 25px 56px -22px rgba(0, 0, 0, 0.38);
    box-shadow: 17px 25px 56px -22px rgba(0, 0, 0, 0.38);
}

.img-about {
    position: relative;
    z-index: 0;
    height: 700px;
}

.heading-section h2 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    line-height: 1.5;
    color: #203d67;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

/* Navbar */
.navbar-brand {
    font-weight: 900;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    opacity: 1 !important;
}

.ftco-navbar-light {
    background: #315eff !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3; 
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    gap: 12px;
}

/* Header */
.ftco-header {
    background: #315eff;
    position: relative;
    padding: 2em 0;
}

.ftco-header a {
    color: rgba(255, 255, 255, 0.7);
}

.header-text {
    color: #315eff;
    font-size: 60px;
}
.brand-text {
    display: none;
}

/* Footer */
.ftco-footer {
    background: #315eff;
    position: relative;
    padding: 2em 0;
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.7);
}

.grid-container {
    display: grid;
    justify-content: center;
}

.grid-item-copyright {
    text-align: center;
}
/* Card */
.card {
    border-radius: 10px;
    padding: 5px; 
    color: #203d67;
    cursor:pointer;
    width: 100%;
}

.card:hover {
    background-color: #21bf73;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flex-item {
        flex-basis: 100%;
    }

    .brand-text {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flex-item {
        flex-basis: 45%
    }
    
    .brand-text {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .flex-item {
        flex-basis: 24%
    }

    .grid-container {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        
    }

    .grid-item-copyright {
        grid-column: 1 / 4;
    }

    .brand-text {
        display: block;
    }
}